extends layout

block content
  section.main-content.not-front
    .container
      .row-fluid
        .span8
          .content
            h1.main-title Tour Cusco Perú 4 días 3 noches

            section.slider
              .item
                img(src='http://farm2.staticflickr.com/1254/801802452_b6f8538128_o.jpg')
              .item
                img(src='http://farm2.staticflickr.com/1254/801802452_b6f8538128_o.jpg')

            h2 Tour a Machupicchu en 1 día en tren Expedition o Panorámico.
            h3
              | Día 01: Bienvenida, Traslado del aeropuerto de Cusco al hotel:
            p
              | Nuestro personal estará esperándo por usted en el Aeropuerto Alejandro Velasco Astete
              | de la ciudad del Cusco (altitud 3,350 m.s.n.m), con un cartel con su nombre
              | para darles una cálida bienvenida a la mágica Ciudad Imperial del Cusco y hacerles
              | el respectivo traslado a su  hotel, donde se les ofrecerá un mate de hojas de
              | coca bueno para la aclimatación, tendrán la tarde libre para la aclimatación del
              | lugar.
            p
              | Noche de pernocte en hotel seleccionado.
            h3
              | Día 02: Viaje en Tren y Tour a Machupicchu:
            ul
              li
                | Desayuno en el Hotel.
              li
                | Traslado de su Hotel en Cusco a la estación de trenes de Poroy a 20 minutos del
                | Cusco.
              li
                | Tour a Machupicchu en tren  ( de 6:50 am a 8:00 pm ).
              li
                | Traslado de la estación de trenes de Poroy a su hotel en Cusco.
              li
                | Noche de Hotel en Cusco.
            p
              | Muy temprano de acuerdo a la elección del servicio de tren elegido:
              a(href='http://www.machupicchumagico.com/tren-expedition-machupicchu-peru-rail') Expedition
              | (incluido en el Paquete Turístico) o
              a(href='http://www.machupicchumagico.com/tren-vistadome-panoramico-machupicchu') Vistadome
              | (adicionando 45 dólares), pasaremos por su hotel en la ciudad de Cusco para
              | trasladarles a la estación de trenes de Poroy (a 25 minutos de Cusco), donde usted
              | abordará el tren con destino al poblado de Aguas Calientes (altitud 2350 m.s.n.m),
              | el tiempo de viaje en ambos trenes es de 3 horas con 40 minutos aproximadamente.
            p
              | El tren Vistadome sale de Poroy a las 6:53 am y el tren Expedition sale de Poroy
              | a las 7:42 am.
            p
              | Nuestro guía profesional en turismo, estará esperando por usted en la estación de
              | trenes de  aguas calientes, quien le conducirá la estación de bus de subida
              | a la majestuosa e impresionante ciudadela inca de Machupicchu (altitud 2450
              | m.s.n.m); el viaje de subida dura ( 25 minutos), tendrán un tour guiado en Machupicchu
              | de 3 horas aporx., pudiendo visitar: la Plaza Principal, la Torre Circular, el Sagrado
              | Reloj Solar, Los Cuartos Reales, El Templo de las Tres Ventanas y los Cementerios.
            p
              | Finalmente tendrán el tiempo libre para seguir explorando la Ciudadela de Machupichu
              | y tomarse fotografías, todo en coordinación con el guía para su horario de retorno
              | de su tren a Poroy - Cusco donde nuestro personal estará esperando por usted
              | con un cartel con su nombre para hacerles el respectivo traslado a su hotel.
            h3
              span(data-mce-mark='1')
                | Día 03: Traslado del hotel en Cusco al aeropuerto:
            ul.bullet.check
              li
                span(data-mce-mark='1')
                  | Desayuno en el Hotel.
              li
                span(data-mce-mark='1')
                  | Traslado del Hotel al aeropuerto de Cusco.
            p
              | Luego del desayuno en el hotel, de acuerdo al horario de su vuelo, le recogeremos
              | de su hotel para trasladarle al aeropuerto de Cusco con dos horas de anticipación,
              | donde le ayudaremos a realizar todo el proceso para el aborde de su vuelo y finalmente
              | abordándolos a su vuelo de destino deseándoles un Feliz Viaje.
            h4
              | Fin del Servicio.
            ul.resumen
              li
                em
                  | El costo del  Paquete Turístico, está expresado en dólares americanos y es
                  | por persona, el costo dependerá de la categoría de hoteles que usted elija,  contamos
                  | con los mejores servicios en hoteles de 2** a 5 *****, también dependerá del
                  | tipo de habitación que requiera.
              li
                em
                  | En la parte inferior, le detallamos una lista de los hoteles con los que trabajamos
                  | para que pueda elegir de acuerdo a la categoría de su preferencia.
            table.table.table-striped
              tbody
                tr
                  th
                    strong
                      | Hoteles
                  th
                    p
                      strong
                        | DWB(Doble)
                  th
                    p
                      strong
                        | TPL(Triple)
                  th
                    p
                      strong
                        | SWB(Simple)
                tr
                  td
                    strong
                      | Hoteles 2**
                  td
                    | US$ 330
                  td
                    | US$ 311
                  td
                    | US$ 425
                tr.odd
                  td
                    strong
                      | Hoteles 3***
                  td
                    | US$ 347
                  td
                    | US$ 337
                  td
                    | US$ 470
                tr
                  td
                    strong
                      | Hoteles 4****
                  td
                    | US$ 442
                  td
                    | US$ 432
                  td
                    | US$ 660
                tr.odd
                  td
                    strong
                      | Hoteles 5*****
                  td
                    | US$ 762
                  td
                    | US$ 644
                  td
                    | US$ 633
            ul.leyenda.bullet.star
              li
                | DWB: Habitación Doble o Matrimonial (dos personas).
              li
                | TPL: Habitación Triple (tres personas).
              li
                | SWB: Habitación Simple (una persona).
            .nota
              p
                span
                  | Nota:
              ul.bullet.check
                li
                  | Nuestros grupos a partir de 3 pasajeros, pueden solicitar sus descuentos especiales
                  | para todos nuestros Paquetes Turísticos.
                li
                  | Nuestros turistas peruanos que cuenten con el DNI vigente, tienen un descuento especial
                  | de 20 dólares por persona.
            h2
              | Servicios opcionales:
            ul.bullet.check
              li
                | Puede solicitar el servicio de tren Ejecutivo
                a(href='http://www.machupicchumagico.com/tren-vistadome-panoramico-machupicchu', target='_blank')  Vistadome o Panorámico
                | Incrementando USD 45 Dólares americanos por persona.
              li
                | Puede solicitar el servicio de tren de lujo
                a(href='http://www.machupicchumagico.com/Tren-hiram-bingham-machupicchu', target='_blank', title='Tren Hiram Bingham') Hiram Bingham
                | Incrementando USD 564 Dólares por persona.
            h2
              | El paquete incluye:
            ul.bullet.arrow
              li
                | Traslados Aeropuerto – Hotel - Aeropuerto.
              li
                | Transporte en bus turístico para todos los tours a realizarse.
              li
                | Tour a Machupicchu con guía profesional en turismo, en el idioma que usted prefiera:
                | Inglés  ó español, para todos los atractivos turísticos.
              li
                | Traslado Hotel – Estación de tren – Hotel.
              li
                | Boleto de Tren ida y vuelta de Cusco (Poroy) - Aguas Calientes (Machupicchu)– Cusco
                | (Poroy).
              li
                | Boleto de Bus de subida y bajada de: Aguas Calientes – Machupichu - Aguas Calientes.
              li
                | Boleto de ingreso a la ciudadela InKa de Machupichu.
              li
                | 2 noches en el Hotel que usted elija. (se recomienda realizar su reserva con anticipación)
              li
                | 2 desayunos Buffet en el hotel.
              li
                | Asistencia y Orientación diaria por parte de nuestro personal profesional en Turismo.
            h2
              | No incluye:
            ul.bullet.arrow
              li
                | Alimentación: almuerzo y cena no descritos en el Paquete Turístico.
              li
                | Vuelos Internacionales.
            p.resumen
              em
                | Puede hacer la elección de su hotel en la categoría que desee, trabajamos con los
                | mejores hoteles con los mejores servicios en las categorías de 2, 3, 4 y 5 estrellas,
                | a continuación, una lista de los hoteles.

            

        .span4
          aside.sidebar
            h4.sidebar-title Buscar

            .sidebar-body

              .input-append
                input.span12(type='text')
                button.btn(type='button') Buscar

            h4.sidebar-title Compartir

            .sidebar-body
              <div class="fb-like-box" data-href="https://www.facebook.com/pages/Andes-Discovery-Tours/409823362365555?ref=hl" data-width="100%" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
              ul.inline
                li
                  i.icon-facebook.icon-large
                li
                  i.icon-twitter.icon-large
                li
                  i.icon-youtube.icon-large
                li
                  i.icon-skype.icon-large


  footer.footer
    .container
      .row-fluid
        - for(var f = 0; f <= 2; f++)
          .span4
            .footer-first
              h4 Contactenos
              address
                | Urbanización Ttio 435
                br
                | Teléfonos 555-555-555
                br
                | contact@inca-culture.com




block css
  link(rel='stylesheet', href='js/owl-carousel/owl.carousel.css')
  link(rel='stylesheet', href='js/owl-carousel/owl.theme.css')