.slider .item
  position relative

  img
    display block
    width 100%
    height auto

  .desc
    position absolute
    bottom 20%
    left 30%
    font-size 300%
    color #fff
    text-shadow my-shadow

.home-tours
  border-bottom 1px solid silver

  h2.title
    color green-sea

  .tour
    background clouds
    margin-bottom 20px

    .tour-body
      padding 3px 10px 10px 10px

    .tour-image

      a:hover
        img
          background silver

      img
        background concrete
        width 100%

    .title
      font-size: 17.5px
      line-height 1.4em
      a
        color midnight-blue