Lato='Lato', sans-serif
my-shadow = 1px 1px 1px rgba(0,0,0,0.6)

// Colors


// Flat Colors
@import 'colors.styl'
@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Lato')
@import url('../js/bootstrap/css/bootstrap.css')
@import url('../js/bootstrap/css/bootstrap-responsive.css')
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
@import url('animate.css')

@import 'theme.styl'
@import 'front.styl'

body
  font normal 16px/1.4em Lato
  color #445

.main-content
  background white
  padding-bottom 10px
  margin-top 50px

  &.front
    background clouds
    //margin-top 0px

  h2
    color pumpkin

  h3
    color wet-asphalt

  h2.title
  h1.main-title
    color green-sea

  .type-title
    color black

.tour-gallery .item
  position relative

  img
    display block
    width 100%
    height auto

.sidebar
  margin-top 20px;
  padding 5px 10px


.sidebar-title
  background turquoise
  color #fff
  padding 8px 10px


.footer
  background midnight-blue
  color #fff;
  font-size 13px
  border-bottom 10px solid wet-asphalt

  h4
    font-weight normal
    font-style italic