.navbar-inverse

  &.transparent

    .navbar-inner
        background rgba(26, 188, 156, 0.7)
        border-color green-sea

  .brand
    color #fff

  .nav .active>a
    background green-sea 

  .nav>li>a
    color #eee
    text-shadow none

  .nav li.dropdown.open > .dropdown-toggle
    background green-sea

  .nav li.dropdown > .dropdown-toggle .caret
    border-top-color #fff
    border-bottom-color #fff

.dropdown-menu > li > a:hover
  background green-sea